# EditorConfig is awesome: http://editorConfig.org
# Usage with your editor: http://editorconfig.org/#download

# Top-most EditorConfig file
root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

[*.go]
indent_style = tab

[*.{js,jsx,json,html}]
indent_style = space
indent_size = 4

[webapp/.eslintrc.json]
indent_style = space
indent_size = 2

# The indentation in package.json will always need to be 2 spaces
# https://github.com/npm/npm/issues/4718
[package*.json]
indent_style = space
indent_size = 2

[{Makefile,*.mk}]
indent_style = tab

[*.css]
indent_size = 2
indent_style = space

[*.md]
indent_style = space
indent_size = 4
# Don't trim trailing whitespace in Markdown (they are used to force line breaks)
trim_trailing_whitespace = false
