.admin-console .transparent-button.btn.btn-default {
    border: 0;
    background-color: transparent;
    outline: none;
    color: rgba(0,0,0,0.7);
}

.no-token-bs-class {
    height: 50px
}

.no-token-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
}

.admin-console .btn .button-icon {
    margin-right: 0;
    font-size: 16px;
}

.table-bordered > tbody > tr > td.table-data {
    vertical-align: middle;
}

.error {
    border: 1px solid rgba(255, 0, 0, 1);
    margin-bottom: 7px;
}
